

.abilities__container{
    margin-top: 1rem;
    outline: 3px solid red;
    height: 20rem;
    display: flex;
    justify-content: center;
}

.agent__logo__card{
    outline: 3px solid pink;
}
.agent__logo__card h1{
    outline: 3px solid green;
    color: #4a574e;
    margin-top: 2rem;
    font-size: 1rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
}

.abilities__logo{
    color: black;
}

.logo-and-disciption__container{
    outline: 4px solid purple;
    width: 20rem;
}

.abilities-logo__container{
    height: 3rem;
    width: 3rem;
    outline: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem;
    display: inline-block;
    
}

.abilities-info__container{
    outline: 4px solid rgb(74, 43, 255);
    display: flexbox;
    margin: .2rem;
}

.abilities-info__container h1{
    color: #768079;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.abilities-info__container p{
    color: #768079;
    font-size: .8rem;
    margin: .2rem;
}

/* ===================MEDIUM DEVICES=======================*/

@media screen and (max-width: 1024px)  {
 
}

/* ===================SMALL DEVICES=======================*/

@media screen and (max-width: 600px)  {
    .agent__logo__card{
        display: none;
    }
}