.main__container{
    outline: 3px solid black;
    height: 40rem;

}

.sub__container{
    height: 30rem;
    position: relative;
    
}

.img__container{
    height: 30rem;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.agents__container{
    outline: 3px solid red;
    z-index: 1000;
    left: 40%;
    transform: translateX(-60%);
    position: absolute;
}

.h1__font{
    color: #ff4655;
    font-size: 2rem;
    font-weight: 1000;
}

.h1__font:hover{
    color: #fff;
  }


.wrapper{
    height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    cursor: default;
}

/* ===================MEDIUM DEVICES=======================*/

@media screen and (max-width: 1024px)  {
    .agents__container{
        left: 40%;
        transform: translateX(-70%);
    }
}

/* ===================SMALL DEVICES=======================*/

@media screen and (max-width: 600px)  {
    .agents__container{ 
        left: 40%;
        transform: translateX(-80%);
    }
    
}